
.DS_Store

Pods/

thrive.xcworkspace/xcuserdata/mitchellekorir1.xcuserdatad/UserInterfaceState.xcuserstate

thrive.xcodeproj/project.xcworkspace/xcuserdata/mitchellekorir1.xcuserdatad/UserInterfaceState.xcuserstate
